In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [60]:
%%bash
ls

EDA.ipynb
HS_2016VT_PUF_FILE_LAYOUT_and_CODES.xls
HS_VTED16.zip
HS_VTEXPOUTP16.zip
HS_VTINP16.zip
HS_VTOUTP16.zip
HS_VTREVCODE16.zip
PUDF_base1_1q2011_tab.csv
PUDF_base2_1q2011_tab.txt
VTINP16.CSV
VTINP16.TXT
VTREVCODE16.TXT
dataset_diabetes.zip
small_TX.csv
small_VT.csv

In [48]:
texas_discharge = pd.read_csv('PUDF_base1_1q2011_tab.txt', sep='\t', nrows=100)

In [38]:
len(list(texas_discharge.columns))

194

In [49]:
list(texas_discharge.columns)

['RECORD_ID',
 'DISCHARGE',
 'THCIC_ID',
 'PROVIDER_NAME',
 'TYPE_OF_ADMISSION',
 'SOURCE_OF_ADMISSION',
 'SPEC_UNIT_1',
 'SPEC_UNIT_2',
 'SPEC_UNIT_3',
 'SPEC_UNIT_4',
 'SPEC_UNIT_5',
 'PAT_STATE',
 'PAT_ZIP',
 'PAT_COUNTRY',
 'COUNTY',
 'PUBLIC_HEALTH_REGION',
 'PAT_STATUS',
 'SEX_CODE',
 'RACE',
 'ETHNICITY',
 'ADMIT_WEEKDAY',
 'LENGTH_OF_STAY',
 'PAT_AGE',
 'FIRST_PAYMENT_SRC',
 'SECONDARY_PAYMENT_SRC',
 'TYPE_OF_BILL',
 'TOTAL_CHARGES',
 'TOTAL_NON_COV_CHARGES',
 'TOTAL_CHARGES_ACCOMM',
 'TOTAL_NON_COV_CHARGES_ACCOMM',
 'TOTAL_CHARGES_ANCIL',
 'TOTAL_NON_COV_CHARGES_ANCIL',
 'POA_PROVIDER_INDICATOR',
 'ADMITTING_DIAGNOSIS',
 'PRINC_DIAG_CODE',
 'POA_PRINC_DIAG_CODE',
 'OTH_DIAG_CODE_1',
 'POA_OTH_DIAG_CODE_1',
 'OTH_DIAG_CODE_2',
 'POA_OTH_DIAG_CODE_2',
 'OTH_DIAG_CODE_3',
 'POA_OTH_DIAG_CODE_3',
 'OTH_DIAG_CODE_4',
 'POA_OTH_DIAG_CODE_4',
 'OTH_DIAG_CODE_5',
 'POA_OTH_DIAG_CODE_5',
 'OTH_DIAG_CODE_6',
 'POA_OTH_DIAG_CODE_6',
 'OTH_DIAG_CODE_7',
 'POA_OTH_DIAG_CODE_7',
 'OTH_DIAG_CODE_8',
 'POA_OTH_DIAG_CODE_8',
 'OTH_DIAG_CODE_9',
 'POA_OTH_DIAG_CODE_9',
 'OTH_DIAG_CODE_10',
 'POA_OTH_DIAG_CODE_10',
 'OTH_DIAG_CODE_11',
 'POA_OTH_DIAG_CODE_11',
 'OTH_DIAG_CODE_12',
 'POA_OTH_DIAG_CODE_12',
 'OTH_DIAG_CODE_13',
 'POA_OTH_DIAG_CODE_13',
 'OTH_DIAG_CODE_14',
 'POA_OTH_DIAG_CODE_14',
 'OTH_DIAG_CODE_15',
 'POA_OTH_DIAG_CODE_15',
 'OTH_DIAG_CODE_16',
 'POA_OTH_DIAG_CODE_16',
 'OTH_DIAG_CODE_17',
 'POA_OTH_DIAG_CODE_17',
 'OTH_DIAG_CODE_18',
 'POA_OTH_DIAG_CODE_18',
 'OTH_DIAG_CODE_19',
 'POA_OTH_DIAG_CODE_19',
 'OTH_DIAG_CODE_20',
 'POA_OTH_DIAG_CODE_20',
 'OTH_DIAG_CODE_21',
 'POA_OTH_DIAG_CODE_21',
 'OTH_DIAG_CODE_22',
 'POA_OTH_DIAG_CODE_22',
 'OTH_DIAG_CODE_23',
 'POA_OTH_DIAG_CODE_23',
 'OTH_DIAG_CODE_24',
 'POA_OTH_DIAG_CODE_24',
 'E_CODE_1',
 'POA_E_CODE_1',
 'E_CODE_2',
 'POA_E_CODE_2',
 'E_CODE_3',
 'POA_E_CODE_3',
 'E_CODE_4',
 'POA_E_CODE_4',
 'E_CODE_5',
 'POA_E_CODE_5',
 'E_CODE_6',
 'POA_E_CODE_6',
 'E_CODE_7',
 'POA_E_CODE_7',
 'E_CODE_8',
 'POA_E_CODE_8',
 'E_CODE_9',
 'POA_E_CODE_9',
 'E_CODE_10',
 'POA_E_CODE_10',
 'PRINC_SURG_PROC_CODE',
 'PRINC_SURG_PROC_DAY',
 'PRINC_ICD9_CODE',
 'OTH_SURG_PROC_CODE_1',
 'OTH_SURG_PROC_DAY_1',
 'OTH_ICD9_CODE_1',
 'OTH_SURG_PROC_CODE_2',
 'OTH_SURG_PROC_DAY_2',
 'OTH_ICD9_CODE_2',
 'OTH_SURG_PROC_CODE_3',
 'OTH_SURG_PROC_DAY_3',
 'OTH_ICD9_CODE_3',
 'OTH_SURG_PROC_CODE_4',
 'OTH_SURG_PROC_DAY_4',
 'OTH_ICD9_CODE_4',
 'OTH_SURG_PROC_CODE_5',
 'OTH_SURG_PROC_DAY_5',
 'OTH_ICD9_CODE_5',
 'OTH_SURG_PROC_CODE_6',
 'OTH_SURG_PROC_DAY_6',
 'OTH_ICD9_CODE_6',
 'OTH_SURG_PROC_CODE_7',
 'OTH_SURG_PROC_DAY_7',
 'OTH_ICD9_CODE_7',
 'OTH_SURG_PROC_CODE_8',
 'OTH_SURG_PROC_DAY_8',
 'OTH_ICD9_CODE_8',
 'OTH_SURG_PROC_CODE_9',
 'OTH_SURG_PROC_DAY_9',
 'OTH_ICD9_CODE_9',
 'OTH_SURG_PROC_CODE_10',
 'OTH_SURG_PROC_DAY_10',
 'OTH_ICD9_CODE_10',
 'OTH_SURG_PROC_CODE_11',
 'OTH_SURG_PROC_DAY_11',
 'OTH_ICD9_CODE_11',
 'OTH_SURG_PROC_CODE_12',
 'OTH_SURG_PROC_DAY_12',
 'OTH_ICD9_CODE_12',
 'OTH_SURG_PROC_CODE_13',
 'OTH_SURG_PROC_DAY_13',
 'OTH_ICD9_CODE_13',
 'OTH_SURG_PROC_CODE_14',
 'OTH_SURG_PROC_DAY_14',
 'OTH_ICD9_CODE_14',
 'OTH_SURG_PROC_CODE_15',
 'OTH_SURG_PROC_DAY_15',
 'OTH_ICD9_CODE_15',
 'OTH_SURG_PROC_CODE_16',
 'OTH_SURG_PROC_DAY_16',
 'OTH_ICD9_CODE_16',
 'OTH_SURG_PROC_CODE_17',
 'OTH_SURG_PROC_DAY_17',
 'OTH_ICD9_CODE_17',
 'OTH_SURG_PROC_CODE_18',
 'OTH_SURG_PROC_DAY_18',
 'OTH_ICD9_CODE_18',
 'OTH_SURG_PROC_CODE_19',
 'OTH_SURG_PROC_DAY_19',
 'OTH_ICD9_CODE_19',
 'OTH_SURG_PROC_CODE_20',
 'OTH_SURG_PROC_DAY_20',
 'OTH_ICD9_CODE_20',
 'OTH_SURG_PROC_CODE_21',
 'OTH_SURG_PROC_DAY_21',
 'OTH_ICD9_CODE_21',
 'OTH_SURG_PROC_CODE_22',
 'OTH_SURG_PROC_DAY_22',
 'OTH_ICD9_CODE_22',
 'OTH_SURG_PROC_CODE_23',
 'OTH_SURG_PROC_DAY_23',
 'OTH_ICD9_CODE_23',
 'OTH_SURG_PROC_CODE_24',
 'OTH_SURG_PROC_DAY_24',
 'OTH_ICD9_CODE_24',
 'MS_MDC',
 'MS_DRG',
 'MS_GROUPER_VERSION_NBR',
 'MS_GROUPER_ERROR_CODE',
 'APR_MDC',
 'APR_DRG',
 'RISK_MORTALITY',
 'ILLNESS_SEVERITY',
 'APR_GROUPER_VERSION_NBR',
 'APR_GROUPER_ERROR_CODE',
 'ATTENDING_PHYSICIAN_UNIF_ID',
 'OPERATING_PHYSICIAN_UNIF_ID',
 'ENCOUNTER_INDICATOR',
 'CERT_STATUS',
 'FILLER_SPACE']

In [42]:
vermont_discharge = pd.read_csv("VTINP16.CSV", nrows=100)

In [43]:
vermont_discharge.columns

Index(['hnum2', 'ATYPE', 'asour', 'intage', 'TXTZIP', 'sex', 'dstat', 'PPAY',
       'CHRGS', 'DX1', 'DX2', 'DX3', 'DX4', 'DX5', 'DX6', 'DX7', 'DX8', 'DX9',
       'DX10', 'DX11', 'DX12', 'DX13', 'DX14', 'DX15', 'DX16', 'DX17', 'DX18',
       'DX19', 'DX20', 'PX1', 'PX2', 'PX3', 'PX4', 'PX5', 'PX6', 'PX7', 'PX8',
       'PX9', 'PX10', 'PX11', 'PX12', 'PX13', 'PX14', 'PX15', 'PX16', 'PX17',
       'PX18', 'PX19', 'PX20', 'ECODE1', 'ECODE2', 'ECODE3', 'hsa', 'pdays',
       'ccsdx', 'ccsdxgrp', 'CCSPX', 'CCSPXGRP', 'ccsproc', 'ccsprocgrp', 'DY',
       'RECNO', 'BTYPE', 'ERFLAG', 'cah', 'vtres', 'OBSFLAG', 'AFLAG', 'UNIQ',
       'ADMID_QTR', 'DISCD_QTR', 'CHRGS_HCIA', 'SCUD', 'DRG', 'MDC', 'sdf',
       'GROUPER'],
      dtype='object')

In [54]:
small_texas_discharge = pd.read_csv('small_TX.csv', sep='\t')

In [55]:
small_texas_discharge

,RECORD_ID,DISCHARGE,THCIC_ID,PROVIDER_NAME,TYPE_OF_ADMISSION,SOURCE_OF_ADMISSION,SPEC_UNIT_1,SPEC_UNIT_2,SPEC_UNIT_3,SPEC_UNIT_4,...,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,APR_GROUPER_VERSION_NBR,APR_GROUPER_ERROR_CODE,ATTENDING_PHYSICIAN_UNIF_ID,OPERATING_PHYSICIAN_UNIF_ID,ENCOUNTER_INDICATOR,CERT_STATUS,FILLER_SPACE
0,120110300305,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,756,1,1,7280,0,9999999998,NaN,1,2,NaN
1,120110300306,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,756,1,1,7280,0,9999999998,NaN,1,2,NaN
2,120110300463,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
3,120110300421,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
4,120110300373,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
5,120110300211,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
6,120110300423,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
7,120110300294,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN
8,120110300328,2011Q1,100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,7280,0,9999999998,NaN,1,2,NaN

In [58]:
small_texas_discharge['PRINC_DIAG_CODE']

0    2939
1    2939
2     311
3     311
4     311
5     311
6     311
7     311
8     311
Name: PRINC_DIAG_CODE, dtype: int64

In [76]:
texas_discharge = pd.read_csv('PUDF_base1_1q2011_tab.csv', sep='\t', dtype='str', nrows=2000)

In [77]:
texas_discharge.head()

,RECORD_ID,DISCHARGE,THCIC_ID,PROVIDER_NAME,TYPE_OF_ADMISSION,SOURCE_OF_ADMISSION,SPEC_UNIT_1,SPEC_UNIT_2,SPEC_UNIT_3,SPEC_UNIT_4,...,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,APR_GROUPER_VERSION_NBR,APR_GROUPER_ERROR_CODE,ATTENDING_PHYSICIAN_UNIF_ID,OPERATING_PHYSICIAN_UNIF_ID,ENCOUNTER_INDICATOR,CERT_STATUS,FILLER_SPACE
0,120110300305,2011Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,756,1,1,07280,00,9999999998,NaN,01,2,NaN
1,120110300306,2011Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,756,1,1,07280,00,9999999998,NaN,01,2,NaN
2,120110300463,2011Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07280,00,9999999998,NaN,01,2,NaN
3,120110300421,2011Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07280,00,9999999998,NaN,01,2,NaN
4,120110300373,2011Q1,000100,Austin State Hospital,2,8,NaN,NaN,NaN,NaN,...,754,1,1,07280,00,9999999998,NaN,01,2,NaN

In [78]:
dc_codes = list(texas_discharge['PRINC_DIAG_CODE'].unique())

In [80]:
texas_discharge[texas_discharge['PRINC_DIAG_CODE'] == '4275']

,RECORD_ID,DISCHARGE,THCIC_ID,PROVIDER_NAME,TYPE_OF_ADMISSION,SOURCE_OF_ADMISSION,SPEC_UNIT_1,SPEC_UNIT_2,SPEC_UNIT_3,SPEC_UNIT_4,...,APR_DRG,RISK_MORTALITY,ILLNESS_SEVERITY,APR_GROUPER_VERSION_NBR,APR_GROUPER_ERROR_CODE,ATTENDING_PHYSICIAN_UNIF_ID,OPERATING_PHYSICIAN_UNIF_ID,ENCOUNTER_INDICATOR,CERT_STATUS,FILLER_SPACE
1378,120110303933,2011Q1,000102,UT Medical Branch Hospital,1,5,I,NaN,NaN,NaN,...,196,4,4,07280,00,9999999998,9999999998,01,1,NaN
1549,120110306562,2011Q1,000102,UT Medical Branch Hospital,1,5,I,NaN,NaN,NaN,...,196,3,3,07280,00,9999999998,9999999998,01,1,NaN
1550,120110304733,2011Q1,000102,UT Medical Branch Hospital,1,5,I,NaN,NaN,NaN,...,196,3,2,07280,00,9999999998,9999999998,01,1,NaN

In [88]:
texas_discharge_columns = [col.lower() for col in texas_discharge.columns]

In [89]:
texas_discharge_columns

['record_id',
 'discharge',
 'thcic_id',
 'provider_name',
 'type_of_admission',
 'source_of_admission',
 'spec_unit_1',
 'spec_unit_2',
 'spec_unit_3',
 'spec_unit_4',
 'spec_unit_5',
 'pat_state',
 'pat_zip',
 'pat_country',
 'county',
 'public_health_region',
 'pat_status',
 'sex_code',
 'race',
 'ethnicity',
 'admit_weekday',
 'length_of_stay',
 'pat_age',
 'first_payment_src',
 'secondary_payment_src',
 'type_of_bill',
 'total_charges',
 'total_non_cov_charges',
 'total_charges_accomm',
 'total_non_cov_charges_accomm',
 'total_charges_ancil',
 'total_non_cov_charges_ancil',
 'poa_provider_indicator',
 'admitting_diagnosis',
 'princ_diag_code',
 'poa_princ_diag_code',
 'oth_diag_code_1',
 'poa_oth_diag_code_1',
 'oth_diag_code_2',
 'poa_oth_diag_code_2',
 'oth_diag_code_3',
 'poa_oth_diag_code_3',
 'oth_diag_code_4',
 'poa_oth_diag_code_4',
 'oth_diag_code_5',
 'poa_oth_diag_code_5',
 'oth_diag_code_6',
 'poa_oth_diag_code_6',
 'oth_diag_code_7',
 'poa_oth_diag_code_7',
 'oth_diag_code_8',
 'poa_oth_diag_code_8',
 'oth_diag_code_9',
 'poa_oth_diag_code_9',
 'oth_diag_code_10',
 'poa_oth_diag_code_10',
 'oth_diag_code_11',
 'poa_oth_diag_code_11',
 'oth_diag_code_12',
 'poa_oth_diag_code_12',
 'oth_diag_code_13',
 'poa_oth_diag_code_13',
 'oth_diag_code_14',
 'poa_oth_diag_code_14',
 'oth_diag_code_15',
 'poa_oth_diag_code_15',
 'oth_diag_code_16',
 'poa_oth_diag_code_16',
 'oth_diag_code_17',
 'poa_oth_diag_code_17',
 'oth_diag_code_18',
 'poa_oth_diag_code_18',
 'oth_diag_code_19',
 'poa_oth_diag_code_19',
 'oth_diag_code_20',
 'poa_oth_diag_code_20',
 'oth_diag_code_21',
 'poa_oth_diag_code_21',
 'oth_diag_code_22',
 'poa_oth_diag_code_22',
 'oth_diag_code_23',
 'poa_oth_diag_code_23',
 'oth_diag_code_24',
 'poa_oth_diag_code_24',
 'e_code_1',
 'poa_e_code_1',
 'e_code_2',
 'poa_e_code_2',
 'e_code_3',
 'poa_e_code_3',
 'e_code_4',
 'poa_e_code_4',
 'e_code_5',
 'poa_e_code_5',
 'e_code_6',
 'poa_e_code_6',
 'e_code_7',
 'poa_e_code_7',
 'e_code_8',
 'poa_e_code_8',
 'e_code_9',
 'poa_e_code_9',
 'e_code_10',
 'poa_e_code_10',
 'princ_surg_proc_code',
 'princ_surg_proc_day',
 'princ_icd9_code',
 'oth_surg_proc_code_1',
 'oth_surg_proc_day_1',
 'oth_icd9_code_1',
 'oth_surg_proc_code_2',
 'oth_surg_proc_day_2',
 'oth_icd9_code_2',
 'oth_surg_proc_code_3',
 'oth_surg_proc_day_3',
 'oth_icd9_code_3',
 'oth_surg_proc_code_4',
 'oth_surg_proc_day_4',
 'oth_icd9_code_4',
 'oth_surg_proc_code_5',
 'oth_surg_proc_day_5',
 'oth_icd9_code_5',
 'oth_surg_proc_code_6',
 'oth_surg_proc_day_6',
 'oth_icd9_code_6',
 'oth_surg_proc_code_7',
 'oth_surg_proc_day_7',
 'oth_icd9_code_7',
 'oth_surg_proc_code_8',
 'oth_surg_proc_day_8',
 'oth_icd9_code_8',
 'oth_surg_proc_code_9',
 'oth_surg_proc_day_9',
 'oth_icd9_code_9',
 'oth_surg_proc_code_10',
 'oth_surg_proc_day_10',
 'oth_icd9_code_10',
 'oth_surg_proc_code_11',
 'oth_surg_proc_day_11',
 'oth_icd9_code_11',
 'oth_surg_proc_code_12',
 'oth_surg_proc_day_12',
 'oth_icd9_code_12',
 'oth_surg_proc_code_13',
 'oth_surg_proc_day_13',
 'oth_icd9_code_13',
 'oth_surg_proc_code_14',
 'oth_surg_proc_day_14',
 'oth_icd9_code_14',
 'oth_surg_proc_code_15',
 'oth_surg_proc_day_15',
 'oth_icd9_code_15',
 'oth_surg_proc_code_16',
 'oth_surg_proc_day_16',
 'oth_icd9_code_16',
 'oth_surg_proc_code_17',
 'oth_surg_proc_day_17',
 'oth_icd9_code_17',
 'oth_surg_proc_code_18',
 'oth_surg_proc_day_18',
 'oth_icd9_code_18',
 'oth_surg_proc_code_19',
 'oth_surg_proc_day_19',
 'oth_icd9_code_19',
 'oth_surg_proc_code_20',
 'oth_surg_proc_day_20',
 'oth_icd9_code_20',
 'oth_surg_proc_code_21',
 'oth_surg_proc_day_21',
 'oth_icd9_code_21',
 'oth_surg_proc_code_22',
 'oth_surg_proc_day_22',
 'oth_icd9_code_22',
 'oth_surg_proc_code_23',
 'oth_surg_proc_day_23',
 'oth_icd9_code_23',
 'oth_surg_proc_code_24',
 'oth_surg_proc_day_24',
 'oth_icd9_code_24',
 'ms_mdc',
 'ms_drg',
 'ms_grouper_version_nbr',
 'ms_grouper_error_code',
 'apr_mdc',
 'apr_drg',
 'risk_mortality',
 'illness_severity',
 'apr_grouper_version_nbr',
 'apr_grouper_error_code',
 'attending_physician_unif_id',
 'operating_physician_unif_id',
 'encounter_indicator',
 'cert_status',
 'filler_space']

In [92]:
with open('texas_discharge_columns.txt', 'w') as f:
    for col in texas_discharge_columns:
        f.write('%s TEXT,\n' % col)

In [97]:
3338/740818

0.004505830041926627

In [94]:
diag_cols = [col for col in texas_discharge_columns if 'diag_code' in col]

In [96]:
with open('diag_columns.txt', 'w') as f:
    for col in diag_cols:
        f.write('%s, ' % col)

The predictors that are important are likely going to be different for in-hospital vs out-of-hospital cardiac arrests; how to account for this? could split the populations manually.

The columns that I would be interested in as predictors:
* provider_name (also the same as thcic_id)
* type_of_admission (exclude 4 which is Newborn, and 9 which is unknown? prob okay to include 9)
* source_of_admission
* patient_state (can likely separate into in-state vs out of state patients)
* pat_zip (patient zip code)
* county (fips code)
* public_health_region
* sex_code
* race
* ethnicity
* admit_weekday (weekend vs weekday)
* length_of_stay
* pat_age (patient age on day of discharge)
* first_payment_src
* secondary_payment_src
* admitting_diagnosis (this would be how you would split the data between out-of-hospital vs in-hospital cardiac arrests)
* all of the other diagnoses codes (this is how you can figure out what are the comorbidities for these patients; you could use the most common ?chronic comorbidities as predictors, e.g. the presence or absence of them in any of the diagnoses codes; will have to do rearranging of this dataframe in order to come up with these 'flag' variables)
* e-code (again, you should probably look to see if there are external injury codes that come up particularly frequently, and then use those as flag variables)
* procedure codes (again, look at the procedures that are most frequently performed on these patients, use them as flags; these primarily serve as a surrogate marker for how severe the disease is, e.g. if a patient requires a cardiac cath then they're sick, if they require a CABG then they're probably sicker, etc.) --> if you have time to get really granular about it, there are fields that records on which day a procedure occurred, you could try to tie that in somehow.
* MS-MDC (major diagnosis code; not sure if it will add more info than already provided in the diagnosis codes, but maybe?)
* MS-DRG (diagnosis-related group)
* risk_mortality (Assignment of a risk of mortality score from the All Patient Refined (APR) Diagnosis Related
* Group (DRG) from the 3M APR-DRG Grouper. Indicates the likelihood of dying.)
* illness_severity (Assignment of a severity of illness score from the All Patient Refined (APR) Diagnosis Related
* Group (DRG) from the 3M APR-DRG Grouper. Indicates the extent of physiologic decompensation.)
* attending_physician
* operating_physician

Target variable:
* pat_status -> for a binary classifier, you could separate it out into either expired (20, 40, 41, 42) or hospice (50, 51) vs alive at discharge. You could probably more usefully separate it into 3 classes, which is expired, discharged home, and discharged to some other facility (but probably more specifically a SNF or inpatient rehability facility). You should probably pull all the rows where the patients experienced a cardiac arrest, and see what their patient status is.

In [100]:
548/798

0.6867167919799498

In [107]:
texas_df = pd.read_csv('test.csv', header=None)

In [114]:
texas_df.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            184, 185, 186, 187, 188, 189, 190, 191, 192, 193],
           dtype='int64', length=194)

In [117]:
col_dict = dict(list(zip(texas_df.columns, texas_discharge_columns)))

In [118]:
t_df = texas_df.rename(columns=col_dict)

In [130]:
t_df[diag_cols][0:5]

,princ_diag_code,poa_princ_diag_code,oth_diag_code_1,poa_oth_diag_code_1,oth_diag_code_2,poa_oth_diag_code_2,oth_diag_code_3,poa_oth_diag_code_3,oth_diag_code_4,poa_oth_diag_code_4,...,oth_diag_code_20,poa_oth_diag_code_20,oth_diag_code_21,poa_oth_diag_code_21,oth_diag_code_22,poa_oth_diag_code_22,oth_diag_code_23,poa_oth_diag_code_23,oth_diag_code_24,poa_oth_diag_code_24
0,4275,Y,43491,Y,41091,Y,51881,Y,5070,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4275,Y,3481,N,496,Y,79902,N,7850,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4275,Y,9916,Y,3572,Y,79902,Y,25060,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4275,Y,5849,Y,40311,Y,5855,Y,3481,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4275,Y,78001,Y,3481,Y,41401,Y,5733,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
t_df['oth_diag_code_1'].value_counts()

51881    60
3481     11
5856      9
5849      7
2762      5
3485      5
570       5
0389      4
5845      4
25000     4
5185      3
486       3
42741     2
4280      1
43491     1
5789      1
25012     1
34590     1
41011     1
4233      1
4254      1
4019      1
41400     1
41519     1
9916      1
41071     1
V667      1
4413      1
34831     1
56089     1
5184      1
42781     1
2760      1
86350     1
20300     1
34830     1
29040     1
9971      1
41401     1
5990      1
4255      1
7802      1
7854      1
430       1
2639      1
49392     1
V4511     1
5070      1
1550      1
496       1
042       1
41090     1
7530      1
78001     1
3453      1
Name: oth_diag_code_1, dtype: int64

In [128]:
surg_proc_cols = [col for col in texas_discharge_columns if 'icd9_code' in col]

In [135]:
t_df['risk_mortality'].value_counts()

4    99
3    45
2    14
1     9
Name: risk_mortality, dtype: int64